.element-collection {
    // flex-direction: column;
    margin-bottom: 30px;
    text-align: center;


  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .element-boxes {
margin: 20px 0;
      display: center;
      justify-content: space-around;
    }
  }