body{
    background-color: #eef0f1 ;

}
.content{
    margin-top: 30px;
    font-family: 'Arimo', sans-serif;
    padding: 40px ;
    background-color: #eef0f1 ;
    background-attachment: fixed;
}

.header{
    z-index: 1;
}

a{
text-decoration: none;
color:black;
}

*{
box-sizing: border-box;

}

.ui * {
    direction: rtl;
    text-align: right;
  }

